  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/assets/muscles.css" rel="stylesheet" />
  </head>



<h2>プロフィール編集</h2>
<%= form_with model: @user do |f| %>
  <label for="inputName">HN</label>
  <%= f.text_field :name, autofocus: true, id:"inputName" %>
  <label for="inputImage">プロフィール画像</label>
  <%= f.file_field :profile_image, acoept: "image/*" %>
  <%= f.submit "変更を保存" %>
<% end %>