<div class="text-center">
  <h1><i class="fas fa-exclamation-circle"></i> About</h1>
    <div>
      MuscleMemoryは筋トレのレビューサイトです。<br>
      様々な年代の男女トレーニーに活用してほしい思いから<br>
      このサイトを作成いたしました。<br>
      皆様のよき筋肉の育成の一助となれれば幸いです。<br>
      それでは皆様、ナイスバルク！
    </div>
</div>