<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title></title>
    <!-- Favicon
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/assets/application.css" rel="stylesheet" />
  </head>

  <header class="masthead">
    <div class="container">
      <div class="masthead-subheading">Muscle Memory</div>
      <div class="masthead-heading text-uppercase">Welcom To Muscle World!</div>
      
    </div> 
      
    <div class="container">
      <div class="row">
        <div class="col-4"><a class="btn btn-primary btn-xl text-uppercase" href="/users/sign_in">ログイン</a></div>
        <div class="col-4"><a class="btn btn-primary btn-xl text-uppercase" href="/users/sign_up">サインイン</a></div>
        <div class="col-4">
          <%= link_to 'ゲストログイン', users_guest_sign_in_path, class: "btn btn-primary btn-xl text-uppercase", method: :post %>
        </div>
      </div>
    </div>
    
  </header>
</html>

