// Place all the styles related to the muscles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*header {
  margin-bottom: 30px;
}*/

.mainWrap {
  /*border-radius: 6px;*/
  background: #EEEEEE;
  padding: 30px;
  margin: 30px 30px 30px 0px;/*-bottom */
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);

}

.mainWrap {border-radius: 4px;}

.sidebar-box {
  /*margin: auto;*/
  text-align: center;
}

/*header {
  border-bottom: solid 1px #696969;
}*/

.navbar {
  background: #EEEEEE;
}


#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  /*transition: margin 0.25s ease-out;*/
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  width: 15rem;
  margin-left: 0;
  background: #EEEEEE;
}

.sidebar-list-item {
  margin: 10px;
}

